body{
    height: 2222px;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.container > h4 {
    color: #5863F8;
    font-size: 14px;
    margin-bottom: 18px;
    margin-top: 18px;
}
.container > h2 {
    color: #000000;
    font-size: 42px;
    width: 300px;
}
.formebi{
    display: flex;
    margin-top: 51px;
}
.gamaert{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: space-between;
}
textarea {
    width: 720px;
    height: 288px;
    resize: none;
    background-color: #E8E8E8;
    border: solid 2px #E8E8E8;
    outline: none;
    border-radius: 10px;
}
 textarea:focus {
    border: solid 2px #E8E8E8;

} 
#text , #text2 , #email {
    width: 352px;
    height: 60px;
    outline: none;
    border: solid 2px #E8E8E8;
    border-radius: 10px;
}
#text:focus , #text2:focus , #email:focus{
    border: solid 2px #E8E8E8;
}
.but {
    width: 352px;
    height: 60px;
    background-color: #5863F8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.wtre{
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius:50%;
    margin-left: 68px;
}
.fa-envelope{
margin-left: 17px;
margin-top: 17px;
font-size: 25px;
color: white;
}
.fa-phone{
margin-left: 17px;
margin-top: 17px;
font-size: 25px;
color: white;
}
.fa-location-dot{
margin-left: 17px;
margin-top: 17px;
font-size: 25px;
color: white;
}
.gamaert2 {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.gamaert3{
    display: flex;
    flex-direction: column;
 
}
.gamaert3 > h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.gamaert3 > a {
    margin-left: 25px;
    margin-top: 10px;
    color: #B1B1B1;
}
.divh2{
    width: 440px;
    font-size: 42px;
    line-height: 56px;
}
.images{
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}
footer{
    background-color: #121212;
    height: 395px;
}
.gamaert4{
    display: flex;
    justify-content: space-between;
}
.ul{
    display: flex;
}
.card1{
   padding-top:  104px;
} 
.card1 > h3{
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 27px;
 
}
.card1 > p{
    width: 210px;
    color: #B1B1B1;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 31px;
}
.fb{
    width: 35px;
    height: 35px;
    background-color: #3B5998;
    border-radius: 50%;
}
.twet{
    width: 35px;
    height: 35px;
    background-color: #55ACEE;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}
.goog{
    width: 35px;
    height: 35px;
    background-color: #DC4E41;
    border-radius: 50%;
}
.fa-facebook-f, .fa-twitter, .fa-google-plus-g {
    font-size: 18px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.LOGO{
    display: flex;
    
}
.ul1 > h3, .ul2 > h3, .ul3 > h3{
    color: white;
    font-size: 18px;
    margin-top: 104px;
    margin-bottom: 29px;
   
}
.ul1, .ul2, .ul3 {
margin-left: 143px;
}
.ila, .ila2, .ila3{
    margin-top: 14px;
}
.ila > a, .ila2 > a, .ila3 > a{
    color: #5863F8;
}
.ila3 > a {
    color: white;
}
.kon{
    color: white;
}
.flex{
    display: flex;
    flex-direction: column;
}